.main-login {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(
    to left,
    var(--primary) 0%,
    var(--primary) 50%,
    transparent 50%,
    transparent 100%
  );
}
@media (max-width: 768px) {
  .main-login {
    overflow: auto;
    background-color: var(--primary);
  }
}
@media (max-width: 425px) {
  .main-login {
    background-color: var(--white);
    overflow: hidden;
    background-image: none;
  }
}
.main-login__container {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .main-login__container {
    grid-template-columns: 1fr;
  }
}
.main-login-left {
  text-align: center;
}
@media (max-width: 768px) {
  .main-login-left {
    display: none;
  }
}
.main-login-left img:nth-child(1) {
  max-height: 8rem;
  margin-top: 1rem;
  animation-name: show;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.main-login-left img:nth-child(2) {
  width: 100%;
  max-width: 50rem;
}
.main-login-right {
  background-color: var(--primary);
  display: grid;
  place-items: center;
}
@media (max-width: 425px) {
  .main-login-right {
    background-color: var(--white);
  }
}
.main-login-right .form-container {
  max-width: 45rem;
  max-height: 67rem;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  background-color: var(--white);
  padding: 6rem;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 8px 2px rgb(0 0 0 / 20%);
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .main-login-right .form-container {
    padding: 4rem 6rem;
  }
}
@media (max-width: 425px) {
  .main-login-right .form-container {
    box-shadow: none;
    padding: 4rem 0rem;
  }
}
.main-login .form-container img {
  width: 12.5rem;
  margin: 0 auto;
}
.main-login .form-container h3 {
  font-size: 2.8rem;
  font-weight: bold;
}
.main-login .form-container p {
  font-size: 1.6rem;
  font-weight: 600;
}
.main-login .form-container p strong {
  color: var(--primary);
  cursor: pointer;
}
.main-login .form-container p strong:hover {
  text-decoration: underline;
}
.main-login form .email,
.main-login form .password {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.6rem;
  font-weight: normal;
}
.main-login form input {
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--gray);
  outline: none;
}
.main-login form input:hover {
  border: 1px solid var(--primary);
}
.main-login form button {
  font-family: var(--main-font);
  padding: 0.5rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  border: none;
  background-color: var(--primary);
  font-size: 2rem;
  color: var(--white);
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}
.main-login form button:hover {
  background-color: var(--primary-hover);
}
.main-login .form-container .forgot-pass {
  color: var(--primary);
  font-weight: normal;
  cursor: pointer;
}
.main-login .form-container .forgot-pass:hover {
  color: var(--primary-hover);
}
