/* ----------------Global settings-----------------*/
:root {
  /* -----------------Fonts--------------------  */
  --main-font: "Baloo Bhaijaan 2", Helvetica;
  /* ------------------Colors------------------- */
  --primary: #d05595;
  --primary-hover: #f563ae;
  --secondary: #58a3ad;
  --secondary-hover: #6ccbd8;
  --warn-black: #212121;
  --black: #000000;
  --white: rgb(255, 255, 255);
  --gray: #d4d4d4;
  /* ----------------Font Sizes -----------------*/
  --sm: 1.2rem;
  --md: 1.6rem;
  --lg: 2rem;
  --xl: 2.4rem;
  --xxl: 2.8rem;
}

/* ----------------Global Styles-----------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
}

/* ----------------Container Styles-----------------*/
.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
